# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/keybrasil/node_modules
/keybrasil/.pnp
/keybrasil/.pnp.js

# testing
/keybrasil/coverage

# production
/keybrasil/build

# misc
/keybrasil/.DS_Store
/keybrasil/.env.local
/keybrasil/.env.development.local
/keybrasil/.env.test.local
/keybrasil/.env.production.local

/keybrasil/npm-debug.log*
/keybrasil/yarn-debug.log*
/keybrasil/yarn-error.log*
