@import '../../styles/scss/includes/variables.scss';

.dropdown.hidden {
    height: 0px;
}

.dropdown.open {
    height: 350px;
    opacity: 100%;
}

.dropdown {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 140px;
    transform: translateX(50px);
    overflow: hidden;
    transition: 400ms height, 700ms opacity;
    z-index: 2;

    .square {
        border-style: solid;
        border-width: 20px;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: $black;
        height: 0px;
        width: 0px;
    }

    &__list {
        border-radius: 32px;
        box-sizing: border-box;
        background-color: $black;
        padding: 30px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    
        &__option {
            margin: 15px 0px;

            &__link {
                font-family: $general-font;
                color: $white;
                list-style: none;
                font-weight: 300;
                text-decoration: none;
                padding: 10px 10px;
                transition: 200ms background-color, 200ms color;

                &:hover {
                    background-color: $white;
                    color: $black;
                }
            }
        }
    }
}